body {
    
    margin-top: 10px;
}
button {
    color: gray;
}
nav{
    margin-left: 230px;
    margin-right: 230px;
 }
 .navbar{
     background-color: rgba(246, 248, 250, 0.89);
 }
 .container {
    background-color: #FFDE59;
    margin-top: 10px;
}
